html,
body {
  height: 100%;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  background-color: #f5f6fa;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #fff;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  position: fixed;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .sidebar {
      transform: translateX(-100%);
      position: fixed;
      z-index: 1000;
  }
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-header {
  text-align: center;
  padding: 20px;
}

.sidebar-header img {
  max-width: 100%;
}

.sidebar ul.components {
  padding: 0;
  list-style: none;
}

.sidebar ul li {
  padding: 12px 20px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.sidebar ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.sidebar ul li a i {
  width: 20px;
  margin-right: 10px;
  color: #007bff;
  font-size: 18px;
}

.sidebar ul li:hover {
  background: rgba(0, 123, 255, 0.1);
}

.menu-toggle {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
}

.menu-toggle i {
  color: #333;
}

@media screen and (max-width: 768px) {
  #menu-toggle {
      display: block;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}

.sidebar.active ~ #overlay {
  display: block;
}

.content {
  margin-left: 100px;
  padding: 20px;
  width: calc(100% - 100px);
  overflow: auto;
  align-self: center;
  background-color: #f5f6fa;
}

@media screen and (max-width: 768px) {
  .content {
      margin-left: 0;
      padding: 0px;
      width: 100%;
  }
}




/* NAVBAR */

.topoadmin {
  background-color: #fff;
  margin: 0 0 30px;
  top: 0;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.topoadmin .navbar-nav .nav-link {
  color: black !important;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  transition: 0.1s ease;
}

.topoadmin .navbar-nav .nav-link:hover {
  color: #0f5380 !important;
}

.topoadmin .logo {
  max-width: 240px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .topoadmin .logo {
    max-width: 100%;
    height: auto;
  }
}

/* FIM NAVBAR */

.bemvindo {
  font-size: 38px;
  font-weight: 600;
  text-shadow: #212121;
}

/* COMEÇO RODAPE */

.main-content {
  flex: 1;
}

.footer {
  background-color: #212121 !important;
  color: white;
  font-weight: 300;
  padding: 20px 4%;
}

.footer span {
  color: white;
  font-weight: 600;
  align-items: center;
  align-self: center;
}

.footer .icon-container i {
  font-size: 24px;
  margin-right: 5px;
  padding: 10px;
  border-radius: 50%;
  color: white;
}

.footer .icon-container a {
  text-decoration: none;
  cursor: pointer;
}

.footer i {
  color: white;
  transition: 0.5s;
}

.footer i:hover {
  transform: scale(1.2);
}

.footer .nav-link {
  text-decoration: none;
  color: white;
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

.footer .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.footer .nav-link:hover {
  color: white;
}

.footer .nav-link:hover::after {
  width: 100%;
  color: white;
}

.footer .nav-item {
  display: inline-block;
  margin: 0 15px;
}

.footer span a {
  text-decoration: none;
  transition: 0.2s;
}

.footer span a {
  text-decoration: none;
  transform: scale(1.2);
}

/* FIM RODAPÉ */

/* GALERIA  */

.galeria .card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px 4%;
  width: 100%;
  height: auto;
  box-shadow: 0 0 3px #000;
  transition: 0.1s;
}

.galeria .card:hover {
  transform: scale(1.01);
}

.galeria .card .card-body {
  padding: 20px 1%;
  height: 100%;
  top: 0;
}

.galeria p {
  font-size: 18px;
  font-weight: 300;
  color: #000;
}

.galeria .btnvergaleria button {
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 5px;
  padding: 10px 10px;
  transition: 0.5s;
  width: 120px;
  height: auto;
}

.galeria .btnvergaleria button:hover {
  transform: scale(1.05);
}

.galeria .btnvergaleria button a {
  color: white;
  text-decoration: none;
}

/* FIM GALERIA */

/* CONTATO */

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #ccc;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup textarea {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid #ccc;
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: #ccc;
}

.inputGroup textarea:focus,
.inputGroup textarea:valid {
  border-color: #ccc;
}

.hero-banner {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  height: 200px;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 240, 240, 0.3);
}

.hero-content {
  position: relative;
  z-index: 1;
}

.hero-content h2 {
  color: white;
  font-size: 49px;
  font-weight: 900;
}

@media (max-width: 767px) {
  .col-md-6 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.btncontatoenviar {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #212121;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btncontatoenviar:hover {
  background-color: #000;
  box-shadow: 0 0 5px #000;
  transform: scale(1.1);
}

.btncontatoenviar:active {
  background-color: #212121;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* FIM CONTATO */
